language: node_js
node_js:
  - "7"
script:
  - echo "Deploy!!"
install:
  - npm install -g firebase-tools
  - npm run build
after_success:
  - firebase deploy --project projectId --token $firebase_key
