language: node_js
node_js:
  - "7"
script:
  - echo "Deploy!!"
install:
  - npm install -g firebase-tools
  - npm update
  - npm install @material-ui/icons
  - npm run build
after_success:
  - firebase deploy --token $firebase_key
