language: node_js
node_js:
  - "11"
script:
  - echo "Deploy!!"
cache: npm
install:
  - npm install -g firebase-tools
  - npm update
  - npm run build
after_success:
  - firebase deploy --token $firebase_key
