body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Avoids scroll bars appearing */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#appTitleBar {
  display: flex;
}

#appTitleBar button {
  width: 55px;
  height: 55px;
  margin-top: 5px;
}

a {
  color: #28660a;
}

a:visited {
  color: #487C2F;
}

#footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 20px 0;
}
#footer a {
  min-height: 20px;
  padding: 20px 40px;
}

.loader {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 20%;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #555;
  border-color: #555 transparent #555 transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#tableContainer {
  margin: 16px;
}

.heading {
  font-weight: bold;
  margin: 15px 0 5px 0;
}

@media screen and (max-width: 959px) {
  #tableContainer {
    margin: 2px 0 10px;
  }

  table {
    display: flex!important;
  }

  tbody {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  tr { /* May need to add a class to this row to avoid it affecting future elements */
    height: unset!important; /* Allow height to stretch as needed */
  }

  .schoolRow {
    display: flex!important;
    width: 100%;
    height: unset!important; /* Allow height to stretch as needed */
    border-width: 1px!important;
    padding: 15px 0;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
  }

  /* The > button to expand the row */
  .schoolRow td:first-child {
    position: absolute;
    right: 0px;
    left: 80%;
    bottom: 0px;
    top: 76%;
    font-weight: bold;
    background-color: #ebfce188;
  }

  .schoolRow td {
    display: flex;
    width: auto!important;
    height: unset;
    border: none;
    background-color: unset;
    padding: 10px;
    padding-left: 5%;
    overflow: hidden; /* Ensures odd/even cells don't stretch and mismatch */
    white-space: normal; /* Allows wrapping of cell texts */

  }

  .schoolRow td a {
    font-weight: bold;
    font-size: 105%;
  }

  /* Left-hand column containing labels */
  .schoolRow td:nth-child(even) {
    flex-basis: 25%;
    font-size: 85%;
    text-transform: lowercase;
  }

  /* Right-hand column containing data */
  .schoolRow td:nth-child(odd) {
    flex-basis: 55%;
    padding-left: 7%;
  }

  #footer {
    flex-direction: column;
  }

}